node_modules
npm-debug.log*
dist
coverage
.git
.github
.gitignore
.env
.env.*
!.env.example
uploads
*.log
*.md
test
.prettierrc
eslint.config.mjs
prisma/*.bak
prisma/schema.prisma.bak
prisma/pulled.prisma
prisma/diff.sql
prisma/migrate-data.ts
migration.sql
scripts
