-- AlterTable
ALTER TABLE `work_sessions` ADD COLUMN `hourlyRateAtTime` DOUBLE NULL,
    ADD COLUMN `workCategoryId` VARCHAR(191) NULL;

-- CreateTable
CREATE TABLE `work_categories` (
    `id` VARCHAR(191) NOT NULL,
    `contractorId` VARCHAR(191) NOT NULL,
    `name` VARCHAR(191) NOT NULL,
    `hourlyRate` DOUBLE NOT NULL DEFAULT 0,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `updatedAt` DATETIME(3) NOT NULL,

    UNIQUE INDEX `work_categories_contractorId_name_key`(`contractorId`, `name`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `_WorkerWorkCategories` (
    `A` VARCHAR(191) NOT NULL,
    `B` VARCHAR(191) NOT NULL,

    UNIQUE INDEX `_WorkerWorkCategories_AB_unique`(`A`, `B`),
    INDEX `_WorkerWorkCategories_B_index`(`B`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `_ProjectWorkCategories` (
    `A` VARCHAR(191) NOT NULL,
    `B` VARCHAR(191) NOT NULL,

    UNIQUE INDEX `_ProjectWorkCategories_AB_unique`(`A`, `B`),
    INDEX `_ProjectWorkCategories_B_index`(`B`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `work_sessions` ADD CONSTRAINT `work_sessions_workCategoryId_fkey` FOREIGN KEY (`workCategoryId`) REFERENCES `work_categories`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `work_categories` ADD CONSTRAINT `work_categories_contractorId_fkey` FOREIGN KEY (`contractorId`) REFERENCES `users`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `_WorkerWorkCategories` ADD CONSTRAINT `_WorkerWorkCategories_A_fkey` FOREIGN KEY (`A`) REFERENCES `users`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `_WorkerWorkCategories` ADD CONSTRAINT `_WorkerWorkCategories_B_fkey` FOREIGN KEY (`B`) REFERENCES `work_categories`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `_ProjectWorkCategories` ADD CONSTRAINT `_ProjectWorkCategories_A_fkey` FOREIGN KEY (`A`) REFERENCES `projects`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `_ProjectWorkCategories` ADD CONSTRAINT `_ProjectWorkCategories_B_fkey` FOREIGN KEY (`B`) REFERENCES `work_categories`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

